# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build Angular
dist/
tmp/
out-tsc/

# IDE/Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Angular cache
.angular/

# Coverage (tests)
coverage/
